<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="fw.sensor.test">
	<uses-sdk android:minSdkVersion="18" android:targetSdkVersion="20" />
	<application android:label="SensorTest">
		<meta-data android:name="com.google.android.wearable.beta.app" android:resource="@xml/sensortest_wear" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
</manifest>